.header  .title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #32C33B;
    font-size: 30px;
    height: 100px;
    font-weight: bolder;
    margin-bottom: 20px ;
}
.header  .caption{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 30px ;
    margin-top: 10px;
    text-align: center;
}