.auth-input {
    background-color: #FFFFFF;
    border: 2px solid #9B9B9B;
    width: 100%;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}

.auth-input:hover {
    border-bottom: 2px solid #32C33B;
}

.auth-password {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.auth-input-password {
    background-color: #FFFFFF;
    border: 2px solid #9B9B9B;
    width: 100%;
    height: 48px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}

.auth-input-password:hover {
    border-bottom: 2px solid #32C33B;
}

.auth-show-password {
    padding: 15px;
    position: absolute;
    margin-left: -35px;
    border: none;
    background-color: transparent;
    outline: none;
}