.auth .content .form-button{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.auth .content .form-button .select-left{
    background-color: #32C33B;
    color: #FFFFFF;
    border: none;
    width: 100px;
    height: 40px;
    margin: 0px -2px;
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.auth .content .form-button .white-button-left{
    background-color: #FFFFFF;
    color: #9B9B9B;
    border: 2px solid #9B9B9B;
    width: 100px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.auth .content .form-button .select-right{
    background-color: #32C33B;
    color: #FFFFFF;
    border: none;
    width: 100px;
    height: 40px;
    margin: 0px -2px;
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.auth .content .form-button .white-button-right{
    background-color: #FFFFFF;
    color: #9B9B9B;
    border: 2px solid #9B9B9B;
    width: 100px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.auth-submit-button {
    text-align: center;
    background-color: #32C33B;
    color: #FFFFFF;
    border: none;
    width: 100%;
    height: 48px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.auth-submit-button:hover {
    background-color: #FFFFFF;
    color: #9B9B9B;
    border: 2px solid #9B9B9B;
    padding: 0px;
}